<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Datos.Properties.Settings.con" connectionString="Data Source=PC-JSALAZAR;Initial Catalog=dbsistema;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>